<div class="container">
  <h1 class="text-center">Welcome to FauxTrader. Please Sign-In to continue</h1><br><br><br>
  <div id="clearance" class="sign-in">
    <h2><%= t(".title") %></h2>

    <%= render partial: '/sessions/form' %>

  </div>
</div>