@import 'bootstrap';

// .card{
//     // margin-bottom: 100px;
// }

body {
    background-image: linear-gradient(top right, rgba(lightgreen, .1), rgba(lightgrey, .5)5%); 
}

.leftCard{
    margin-bottom:50px;
}

h1{
    margin-bottom:50px;
}

.rightCard{
    margin-bottom:50px;
}

.cashText{
    font-size:40px;
    font-family: 'Bree Serif', serif;
}


