@import 'bootstrap';

// .card{
//     // margin-bottom: 100px;
// }

body {
    background-image: linear-gradient(top right, rgba(lightgreen, .1), rgba(lightgrey, .5)5%); 
}

.leftCard{
    margin-bottom:50px;
}

h1{
    margin-bottom:50px;
}

.rightCard{
    margin-bottom:50px;
}

.cashText{
    font-size:40px;
    font-family: 'Bree Serif', serif;
}


.red{
    color: red;
}

.green{
    color: rgb(64,163,63);
}

.header{
    font-size: 38px;
}

.topspace{
    margin-top: 80px;
}

.top{
    margin-top:60px;
}

::placeholder { 
    text-transform: none;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  .footerSpace{
      margin-bottom: 120px;
  }

  dl{
      font-size: 25px;
  }

  .col-4{
      padding:0px;
  }

  .cardPadding{
      padding: 0px;
  }

 .bottom{
     margin-bottom: 80px;
 }

 .link{
     color: white;
     text-decoration: underline;
 }

 .link:hover{
     color:silver;
 }

 .wrapper{
     margin-bottom: 80px;
 }

 .padding{
     padding-right: 5px;
 }