@import 'bootstrap';

// .card{
//     // margin-bottom: 100px;
// }

body {
    background-image: linear-gradient(top right, rgba(lightgreen, .1), rgba(lightgrey, .5)5%); 
}

.leftCard{
    margin-bottom:50px;
}

h1{
    margin-bottom:50px;
}

.rightCard{
    margin-bottom:50px;
}

.cashText{
    font-size:40px;
    font-family: 'Bree Serif', serif;
}


.red{
    color: red;
}

.green{
    color: green;
}

.header{
    font-size: 38px;
}

.topspace{
    margin-top: 80px;
}

.yo{
    opacity: 0;
}